:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Light-gray);
  font-family: "Outfit", sans-serif;
}

.container {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-card {
  background-color: var(--White);
  width: min-content;
  padding: 1rem;
  border-radius: 15px;
}

.qr-card-img {
  object-fit: cover;
  height: max(16rem, 38vh);
  border-radius: 15px;
}

.qr-card-title,
.qr-card-desc {
  text-align: center;
  margin-top: 1rem;
  padding: 0 0.4rem;
}
.qr-card-title {
  color: var(--Dark-blue);
  font-size: 1.15rem;
  font-weight: 700;
}

.qr-card-desc {
  color: var(--Grayish-blue);
  font-size: 1rem;
  padding-bottom: 1rem;
}

.attribution {
  text-align: center;
  word-spacing: 0.1rem;
}
